@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
.container{
  position: absolute;
  background-color: #000000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  position: relative;
  height: 500px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3300;
  border-radius: 3%;
  box-shadow: 1px 2px 70px #ff3300;
  
}
.game-name{
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  top: 10px;
  font-weight: bolder;
  font-size: 40px;
  background-color: #ff3300;
  color: rgb(0, 0, 0);

}
.game-name1{
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  top: 60px;
  font-weight: bolder;
  font-size: 40px;
  background-color: #ff3300;
  color: rgb(0, 0, 0);

}
.game-name2{
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  top: 110px;
  font-weight: bolder;
  font-size: 40px;
  background-color: #ff3300;
  color: rgb(0, 0, 0);

}

.but1 {
  border:none;
  font-family: 'Teko', sans-serif;
  font-size:40px;
  font-weight: bolder;
 height:100px;
  width:300px;
  text-transform:uppercase;
  letter-spacing:10px;
  background-color:rgb(243, 93, 0);
    position:relative;
  overflow:hidden;
  border-radius: 5% ;
}
.but1:before{
  content:'';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:4px;
  background-color:rgb(0, 0, 0);
  transition:all 1s;
}
.but1:after{
  content:'';
  position:absolute;
  bottom:0;
  right:-100%;
  width:100%;
  height:4px;
  background-color:rgb(0, 0, 0);
  transition:all 1s;
}
.but1:hover:before {
  left:0;
}
.but1:hover:after{
  right:0;
}
.span1:before{
  content:'';
  position:absolute;
  top:-100%;
  right:0%;
  width:4px;
  height:100%;
  background-color:rgb(0, 0, 0);
  transition:all 1s;
}
.but1:hover span:before{
  top:0;
}
.span1:after{
  content:'';
  position:absolute;
  bottom:-100%;
  left:0%;
  width:4px;
  height:100%;
  background-color:rgb(0, 0, 0);
  transition:all 1s;
}
.but1:hover span:after{
  bottom:0;
}

.but2{
  position: absolute;
  top:320px;
  left: 50px;
}
.but2:before{
  content:'';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:4px;
  background-color:rgb(0, 0, 0);
  transition:all 1s;
}
.but2:after{
  content:'';
  position:absolute;
  bottom:0;
  right:-100%;
  width:100%;
  height:4px;
  background-color:rgb(0, 0, 0);
  transition:all 1s;
}
.but2:hover:before {
  left:0;
}
.but2:hover:after{
  right:0;
}
.span2:before{
  content:'';
  position:absolute;
  top:-100%;
  right:0%;
  width:4px;
  height:100%;
  background-color:rgb(0, 0, 0);
  transition:all 1s;
}
.but2:hover span:before{
  top:0;
}
.span2:after{
  content:'';
  position:absolute;
  bottom:-100%;
  left:0%;
  width:4px;
  height:100%;
  background-color:rgb(0, 0, 0);
  transition:all 1s;
}
.but2:hover span:after{
  bottom:0;
}
